<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-beat"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
> -->

<div class="questions">
  <!-- UPLOADER  -->
  <div class="uploader p-4">
    <input
      #uploader
      type="file"
      style="display: inline-block"
      (change)="onFileChange($event)"
      placeholder="Thêm nhiều câu hỏi từ excel"
      accept=".xlsx"
    />

    <!-- <button
      type="button"
      class="px-4 py-2 bg-blue-500 hover:bg-blue-600 rounded-sm text-white"
    >
      Add new questions
    </button> -->
  </div>

  <!-- TABLE  -->
  <div
    *ngIf="questions?.length; else questionNotFound"
    class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"
  >
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  w-1/5
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Câu hỏi
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  w-1/6
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Trạng thái
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  w-2/5
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Câu trả lời
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Chi tiết </span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr
              *ngFor="
                let question of questions
                  | paginate
                    : {
                        itemsPerPage: pageSize,
                        currentPage: currentPage,
                        totalItems: total
                      }
              "
            >
              <td class="px-6 w-20 py-4">
                <div class="text-sm text-gray-900">
                  {{ question.title }}
                </div>
              </td>

              <td class="px-6 py-4">
                <span
                  class="
                    px-2
                    inline-flex
                    text-xs
                    leading-5
                    font-semibold
                    rounded-full
                  "
                  [class]="
                    question.status === 1
                      ? 'bg-green-100 text-green-800'
                      : 'bg-red-100 text-red-800'
                  "
                >
                  {{ question.status === 1 ? "Hoạt động" : "Đã kết thúc" }}
                </span>
              </td>

              <td
                class="px-6 w-32 py-4 text-sm text-gray-500"
                [innerText]="question.answers[0].content"
              ></td>

              <td class="px-6 py-4 text-right text-sm font-medium">
                <a
                  [routerLink]="['/convo/12']"
                  class="text-indigo-600 hover:text-indigo-900"
                  >Chi tiết</a
                >
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #questionNotFound> Question not found </ng-template>
</div>

<pagination-controls
  *ngIf="questions?.length"
  (pageChange)="changePage($event)"
></pagination-controls>
