<div class="p-4 h-screen flex">
  <div
    class="
      flex
      mr-8
      flex-col
      bg-blue-50
      px-4
      py-8
      shadow-lg
      rounded-md
      w-32
      h-36
      items-center
    "
  >
    <span class="text-2xl mb-6">66</span>
    <span>Khách hàng </span>
  </div>

  <div
    class="
      flex
      mr-8
      flex-col
      bg-blue-50
      px-4
      py-8
      shadow-lg
      rounded-md
      w-32
      h-36
      items-center
    "
  >
    <span class="text-2xl mb-6">5345</span>
    <span>Hội thoại</span>
  </div>

  <div
    class="
      flex
      mr-8
      flex-col
      px-4
      bg-blue-50
      py-8
      shadow-lg
      rounded-md
      w-32
      h-36
      items-center
    "
  >
    <span class="text-2xl mb-6">123</span>
    <span>Câu hỏi</span>
  </div>
</div>
